@page "/tictactoe"
@using System.Text.Json;
@using System.Text.Encodings.Web;
@using System.Text.Unicode;
@using TaskSeven_GamePlatform.Client.Services.Interfaces;
@using TaskSeven_GamePlatform.Client.Services;
@using TaskSeven_GamePlatform.Shared.Models;
@inject TicTacToeSessionClientService sessionService


<PageTitle>Tic Tac Toe</PageTitle>
<MudOverlay @bind-Visible="@sessionService.nameDialogVisible" DarkBackground="true">
    <MudPaper Class="pa-12">
        <MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
            <p>Your name</p>
            <MudTextField @bind-Value="@sessionService.playerName" Class="mt-3" />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="()=>sessionService.OnSubmitName(GAMENAME)" Class="px-10">Submit</MudButton>
        </MudStack>
    </MudPaper>
</MudOverlay>
<MudOverlay OnClick="@sessionService.Restart" @bind-Visible="@sessionService.isGameOver" DarkBackground="true">
    <MudPaper Class="pa-12">
        <MudText Align="Align.Center" Typo="Typo.h3">@sessionService.gameOverMessage</MudText>
    </MudPaper>
</MudOverlay>
<MudOverlay @bind-Visible="@sessionService.isLoading" DarkBackground="true">
    <MudPaper Class="pa-12">
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" Style="width:100%" />
        <MudText Align="Align.Center" Typo="Typo.h4">@sessionService.loadingMessage</MudText>
    </MudPaper>
</MudOverlay>
<MudGrid>
    <MudItem xs="12">
        <MudPaper Style="height:80vh" Class="d-flex align-center justify-center mud-height-full mud-width-full py-8">
            <MudGrid>
                <MudItem xs="3">
                    <MudText Class="d-none d-md-block" Align="Align.Center" Typo="Typo.h6">
                        You
                    </MudText>
                </MudItem>
                <MudItem Class="d-flex flex-column align-center justify-center" xs="6">
                    <MudText>
                        @sessionService.turnCounter
                    </MudText>

                    <div class="game">
                        <div class="board">
                            <div class="square top left" tabindex="0">
                                <div class="@sessionService.cellValues[0] mud-height-full mud-width-full">
                                    <MudButton Class="mud-height-full mud-width-full" OnClick="()=>sessionService.Move(0)" />
                                </div>
                            </div>
                            <div class="square top" tabindex="0">
                                <div class="@sessionService.cellValues[1] mud-height-full mud-width-full">
                                    <MudButton Class="mud-height-full mud-width-full" OnClick="()=>sessionService.Move(1)" />
                                </div>
                            </div>
                            <div class="square top right" tabindex="0">
                                <div class="@sessionService.cellValues[2] mud-height-full mud-width-full">
                                    <MudButton Class="mud-height-full mud-width-full" OnClick="()=>sessionService.Move(2)" />
                                </div>
                            </div>
                            <div class="square left" tabindex="0">
                                <div class="@sessionService.cellValues[3] mud-height-full mud-width-full">
                                    <MudButton Class="mud-height-full mud-width-full" OnClick="()=>sessionService.Move(3)" />
                                </div>
                            </div>
                            <div class="square" tabindex="0">
                                <div class="@sessionService.cellValues[4] mud-height-full mud-width-full">
                                    <MudButton Class="mud-height-full mud-width-full" OnClick="()=>sessionService.Move(4)" />
                                </div>
                            </div>
                            <div class="square right" tabindex="0">
                                <div class="@sessionService.cellValues[5] mud-height-full mud-width-full">
                                    <MudButton Class="mud-height-full mud-width-full" OnClick="()=>sessionService.Move(5)" />
                                </div>
                            </div>
                            <div class="square bottom left" tabindex="0">
                                <div class="@sessionService.cellValues[6] mud-height-full mud-width-full">
                                    <MudButton Class="mud-height-full mud-width-full" OnClick="()=>sessionService.Move(6)" />
                                </div>
                            </div>
                            <div class="square bottom" tabindex="0">
                                <div class="@sessionService.cellValues[7] mud-height-full mud-width-full">
                                    <MudButton Class="mud-height-full mud-width-full" OnClick="()=>sessionService.Move(7)" />
                                </div>
                            </div>
                            <div class="square bottom right" tabindex="0">
                                <div class="@sessionService.cellValues[8] mud-height-full mud-width-full">
                                    <MudButton Class="mud-height-full mud-width-full" OnClick="()=>sessionService.Move(8)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <MudText>
                        @sessionService.waitingForOpponentMessage
                    </MudText>
                </MudItem>
                <MudItem xs="3">
                    <MudText Class="d-none d-md-block" Align="Align.Center" Typo="Typo.h6">
                        @sessionService.opponent.Name
                    </MudText>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>

</MudGrid>



@code {
    private static System.Timers.Timer countDownTurnTimer = new System.Timers.Timer(1000);
    private string cellValueTag = "div";
    private const string GAMENAME = "TicTacToe";


    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();
        countDownTurnTimer.Elapsed += CountDownTimer;
        sessionService.OnStateChange += StateHasChanged;
        sessionService.OnRestartTimer += RestartTimer;
    }

    public void RestartTimer()
    {
        if (sessionService.currentGameState == null) return;
        sessionService.turnCounter = sessionService.currentGameState.SecondsPerMove;
        StateHasChanged();
        countDownTurnTimer.Enabled = true;
    }

    public void CountDownTimer(Object? source, System.Timers.ElapsedEventArgs e)
    {
        if (sessionService.turnCounter > 0)
        {
            sessionService.turnCounter -= 1;
        }
        else
        {
            countDownTurnTimer.Enabled = false;
            sessionService.UpdateGameState();
        }
        InvokeAsync(StateHasChanged);
    }
}
